/* src/components/Inputs.module.css */
.input1 {
  background-color: lightblue;
  border: 2px solid navy;
  color: black;
  padding: 5px;
  margin: 5px;
}

.input2 {
  background-color: lightgreen;
  border: 2px solid darkgreen;
  color: darkblue;
  padding: 5px;
  margin: 5px;
}

.input3 {
  background-color: lightpink;
  border: 2px solid maroon;
  color: white;
  padding: 5px;
  margin: 5px;
}